<main>
<h2>FREDERICK PARK EVENTS TWEETS</h2>
</main>

<a class="twitter-timeline" data-width="400" data-height="600" href="https://twitter.com/Frederick_Eats?ref_src=twsrc%5Etfw">Tweets by Frederick_Eats</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a class="twitter-timeline" data-width="400" data-height="600" href="https://twitter.com/food_maryland?ref_src=twsrc%5Etfw">Tweets by food_maryland</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a class="twitter-timeline" data-width="400" data-height="600" href="https://twitter.com/frederick_tunes?ref_src=twsrc%5Etfw">Tweets by frederick_tunes</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
